.guided-payment{
  width: 60%;
  md-dialog-content{
    padding: 0px;
    .guide-portion{
      padding: 10px 20px;
      background-color: #eeeeee;
      h4{
        margin-top: 30px;
      }
      ul{
        color: #777777;
        li{
          margin-bottom: 5px;
        }
      }
    }
    .form-portion{
      padding: 30px 20px;
      md-card{
        padding: 20px;
        height: 100%;
        md-input-container{
          width: 100%;
        }
      }
    }
  }
}

