<script src="../../../../../UPLOADABLE/Apps/app.settings/settings/settings.module.js"></script>
<meta name="owner" content="Ishara">
<meta name="modifiedBy" content="Kasun">
<meta name="modifiedDate" content="24-02-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="account">
<meta name="view" content="account.html">

<div id="account" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDENAV -->
  <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
              ng-include="'app/main/account/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
  </md-sidenav>
  <!-- / SIDENAV -->

  <!-- CENTER -->
  <div ng-switch-when="default" class="center" layout="row" flex>
    <!-- CONTENT HEADER -->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>


      <!-- CONTENT WRAPPER -->
      <div class="content-wrapper" layout="column" flex>

        <md-content flex ms-scroll>

          <div layout="column" ng-if="generalDetails">
            <div layout="column" flex>
              <div class="info-portion" ng-if="!vm.editableMode">
                <md-card flex class="input-block-gen">
                  <md-card-title>
                    <div layout="row" layout-align="start center">
                      <md-icon md-font-icon="icon-account"></md-icon> <h3>User information</h3>
                    </div>
                  </md-card-title>
                  <md-card-content md-whiteframe="1dp">
                    <div class="preloader-input-block animate-fade-in-out" layout="column" layout-align="space-around" ng-hide="accGeneralLoaded">
                      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div>
                      <div layout="row" layout-align="start center" flex class="user">
                        <img src="assets/icons/ic_face_black_24px.svg" alt="vm.dummy.Data.givenName" class="mr-10">
                        <div class="user-name">
                          <span>{{vm.dummy.Data.givenName}} {{vm.dummy.Data.surName}}</span>
                        </div>
                      </div>
                      <md-divider class="mv-10"></md-divider>
                      <div layout="row" flex>
                        <div layout="column" flex>
                          <div layout="row">
                            <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                              <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                                <md-icon md-font-icon="icon-account-location"></md-icon> <span flex>User type</span>
                              </div>
                              <div flex class="">{{vm.dummy.Data.UserType}}</div>
                            </div>
                            <div flex="5"></div>
                            <div layout="row" layout-align="start center" class="info-grid-row" flex>
                              <div class="iconed-label" layout="row" layout-align="start center" flex="50">
                                <md-icon md-font-icon="icon-map"></md-icon> <span flex>Current subscription</span>
                              </div>
                              <div flex class=""><a href="" ng-click="switchInpageState('plan-details')"><u>{{selectedPlan.name}}</u></a></div>
                            </div>
                          </div>
                          <div layout="row">
                            <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                              <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                                <md-icon md-font-icon="icon-email"></md-icon> <span flex>Email</span>
                              </div>
                              <div flex class="">{{vm.dummy.Data.email}}</div>
                            </div>
                            <div flex="5"></div>
                            <div flex></div>
                          </div>
                          <div layout="row">
                            <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                              <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                                <md-icon md-font-icon="icon-domain"></md-icon> <span flex>Domain</span>
                              </div>
                              <div flex class="">{{vm.dummy.Data.domain}}</div>
                            </div>
                            <div flex="5"></div>
                            <div flex></div>
                          </div>
                          <div layout="row">
                            <div layout="row" layout-align="start center" class="info-grid-row" flex="50">
                              <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                                <md-icon md-font-icon="icon-google-maps"></md-icon> <span flex>Country</span>
                              </div>
                              <div flex class="">{{vm.dummy.Data.country}}</div>
                            </div>
                            <div flex="5"></div>
                            <div flex="50"></div>
                          </div>
                        </div>
                      </div>
                      <div layout="row" layout-align="end center">
                        <md-button class="md-accent" href="https://login.microsoftonline.com/ccactiveb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_ccPasswordReset&client_Id=d084a227-bb52-4992-889d-6e4835610e76&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fcloudcharge.com%2Fazuresignup%2FccAzure.php%2FreLogin&scope=openid&response_type=id_token&prompt=login"><md-icon md-font-icon="icon-refresh"></md-icon> Reset password</md-button>
                        <md-button class="md-accent md-raised" aria-label="compose"
                                   ng-click="saveProfileDetails(true)">Edit profile</md-button>
                      </div>
                    </div>
                  </md-card-content>
                </md-card>

                <md-card flex class="input-block-gen">
                  <md-card-title>
                    <div layout="row" layout-align="start center">
                      <md-icon md-font-icon="icon-key"></md-icon> <h3>Access keys</h3>
                    </div>
                  </md-card-title>
                  <md-card-content md-whiteframe="1dp" ng-class="{'h-100':!accAccessKeysLoaded}">
                    <div class="preloader-input-block animate-fade-in-out" layout="column" layout-align="space-around" ng-hide="accAccessKeysLoaded">
                      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div layout="column">

                      <div flex>
                        <div layout="row" layout-align="space-between center" class="detail-row" ng-repeat="key in access_keys">
                          <div flex>
                            <div layout="row" layout-align="start center" class="group-sub-head" style="margin-top: 0">
                              <span flex="30"><b>{{key.name}}</b></span>
                            </div>
                            <div layout="row" layout-align="space-between center" class="dashed-highlight-blue">
                              <span class="access-key" id="{{key.key}}" flex>{{xfiedKey | limitTo: key.key.length}}</span>
                              <div layout="row">
                                <div class="keyDisplay{{key.key}}">
                                  <md-button id="show" class="md-icon-button md-accent" ng-click="showAccessKey(key, $index)"><md-icon md-font-icon="icon-eye" class="copy-icon"></md-icon><md-tooltip>Show Key</md-tooltip> </md-button>
                                  <md-button id="hide" class="md-icon-button md-accent" ng-click="hideAccessKey(key, $index)"><md-icon md-font-icon="icon-eye-off" class="copy-icon"></md-icon><md-tooltip>Hide Key</md-tooltip> </md-button>
                                </div>

                                <md-button class="md-icon-button md-accent" ng-click="copyToClipboard(key.key)"><md-icon md-font-icon="icon-content-copy" class="copy-icon" style="font-size: 18px"></md-icon><md-tooltip>Copy key</md-tooltip> </md-button>
                                <md-button class="md-icon-button md-accent" ng-disabled="isKeyResetting" ng-click="resetKey(key.key, key.name)"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Reset key</md-tooltip> </md-button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="paste"></div>
                    </div>
                  </md-card-content>
                </md-card>

              </div>

              <div layout="column" ng-if="vm.editableMode" style="padding-bottom: 40px">
                <md-content style="background-color: transparent">
                  <form name="vm.myaccForm" id="myAcc" ng-submit="saveProfileDetails(false)" novalidate>
                    <md-card flex class="input-block-gen">
                      <md-card-title>
                        <div layout="row" layout-align="start center">
                          <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
                        </div>
                      </md-card-title>
                      <md-card-content md-whiteframe="1dp">
                        <div layout="row" layout-align="start center">
                          <md-input-container class="acc-input-container" flex="30">
                            <label>First name</label>
                            <input type="text" ng-model="vm.dummy.Data.givenName" ng-maxlength="20" name="first_name" required>
                            <div ng-messages="vm.myaccForm.first_name.$error">
                              <div ng-message="required"></div>
                              <div ng-message="maxlength">First name must be between 1-20 characters</div>
                            </div>
                          </md-input-container>
                          <div flex="5"></div>
                          <md-input-container class="acc-input-container" flex="30">
                            <label>Sure name</label>
                            <input type="text" ng-model="vm.dummy.Data.sureName" ng-maxlength="30" name="sure_name" required>
                            <div ng-messages="vm.myaccForm.sure_name.$error">
                              <div ng-message="required"></div>
                              <div ng-message="maxlength">Sure name must be between 1-30 characters</div>
                            </div>
                          </md-input-container>
                          <div flex="5"></div>
                          <md-input-container class="acc-input-container" flex="30">
                            <label>Country</label>
                            <input type="text" ng-model="vm.dummy.Data.country" name="country" ng-maxlength="30">
                            <div ng-messages="vm.myaccForm.country.$error">
                              <div ng-message="maxlength">Country must be between 1-30 characters</div>
                            </div>
                          </md-input-container>
                        </div>
                      </md-card-content>
                    </md-card>
                  </form>
                </md-content>
              </div>

            </div>
          </div>

          <div layout="column" ng-if="planDetails">
            <md-card flex class="input-block-gen">
              <md-card-title>
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-map"></md-icon> <h3>Subscription</h3>
                </div>
              </md-card-title>
              <md-card-content md-whiteframe="1dp">
                <div class="preloader-input-block animate-fade-in-out" layout="column" layout-align="space-around" ng-if="!accSubscriptionDetailsLoaded">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div>
                  <div layout="row" layout-align="start center">
                    <span class="fs-18">{{currentPlanName}} </span><span class="op-5" flex> / {{selectedPlanDuration}}</span>
                    <div layout-align="end center" layout="row">
                      <md-button class="md-accent md-raised" ng-show="selectedPlan.planNo > 1 && isTempDeactive " ng-click="deactiveCurrentPlan()" flex>Deactivate</md-button>
                      <!--<md-button ng-disabled="" class="md-raised md-accent" ng-click="signupsuccess=true" ng-hide="signupsuccess" flex>Upgrade</md-button>-->
                    </div>
                  </div>
                  <md-divider class="mt-10 mb-10"></md-divider>
                  <div layout="row">
                    <div flex layout="column">
                      <div layout="row" layout-align="start center" class="info-grid-row bordered">
                        <div class="iconed-label" layout="row" layout-align="start center" flex="40">
                          <md-icon md-font-icon="icon-calendar"></md-icon> <span flex>Period</span>
                        </div>
                        <div class="text-right" flex>{{currentPlanCreatedDate | limitTo:10}} - {{ currentPlanExpiryDate | limitTo:10}}</div>
                      </div>
                      <div layout="row" layout-align="start center" class="info-grid-row bordered">
                        <div class="iconed-label" layout="row" layout-align="start center" flex="40">
                          <md-icon md-font-icon="icon-cash-usd"></md-icon> <span flex>Additional charge</span>
                        </div>
                        <div class="text-right" flex>{{additionalCharge}}</div>
                      </div>
                      <div layout="row" layout-align="start center" class="info-grid-row bordered">
                        <div class="iconed-label" layout="row" layout-align="start center" flex="40">
                          <md-icon md-font-icon="icon-package"></md-icon> <span flex>Next payment</span>
                        </div>
                        <div class="text-right" flex>{{currentPlanAmount + additionalCharge}}</div>
                      </div>
                      <div layout="column" layout-align="center start" class="info-grid-row bordered mv-10">
                        <div class="iconed-label bordered" layout="row" layout-align="start center" style="width: 100%;">
                          <md-icon md-font-icon="icon-credit-card"></md-icon> <span flex>Cards</span>
                          <md-button class="md-accent md-icon-button" stripe-payment="config" ng-click="addNewCard()" layout-align="center center"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add card</md-tooltip></md-button>
                        </div>
                        <div layout="column" layout-align="center center" style="width: 100%;" class="mt-10">
                          <div flex layout="row" layout-align="center center" class="msg-empty-list m-0" ng-if="cardDetails.length == 0 || paymentHistoryList == null">
                            <span><md-icon md-font-icon="icon-information-outline"></md-icon> No card has been added yet</span>
                          </div>
                          <!--<div fill-width layout="row" flex class="list-item">-->

                            <!--<div class="prodCost" flex layout="row" layout-align="start center">-->
                              <!--<span class="MasterCard"></span> <span class="text-truncate card-no">XXXX-XXXX-XXXX-4242</span>-->
                              <!--<md-tooltip>XXXX-XXXX-XXXX-4242</md-tooltip>-->
                            <!--</div>-->
                            <!--<div class="prodCost" flex="30" layout="row" layout-align="start center">-->
                              <!--&lt;!&ndash; <span> {{card.exp_month | parseDate | date: 'MMMM' | limitTo:3}} {{card.exp_year | parseDate | date: 'yyyy'}}</span> &ndash;&gt;-->
                              <!--<span>January</span>-->
                              <!--<span>&nbsp;2017</span>-->
                            <!--</div>-->
                            <!--<div class="prodCost" layout="column" layout-align="center end">-->
                              <!--<span class="default" ng-if="card.rowId===0">Default</span>-->
                              <!--<md-button class="md-raised make-default" ng-if="card.rowId != 0" ng-click="defaultPayment('1',card)" layout-align="center center"> Make Default</md-button>-->
                            <!--</div>-->
                            <!--<md-button class="md-warn md-icon-button" ng-click="removeCard()" layout-align="center center" style="margin-right: -10px"><md-icon md-font-icon="icon-close-circle"></md-icon><md-tooltip>Remove card</md-tooltip></md-button>-->
                          <!--</div>-->
                          <div layout="row" fill-width class="list-item" ng-repeat="card in cardDetails" modal-animation-class="mt-20">

                            <div class="prodCost" flex layout="row" layout-align="start center">
                              <span ng-class="card.brand"></span> <span class="text-truncate card-no">XXXX-XXXX-XXXX-{{card.last4}}</span>
                              <md-tooltip>XXXX-XXXX-XXXX-{{card.last4}}</md-tooltip>
                            </div>
                            <div class="prodCost" flex="30" layout="row" layout-align="start center">
                              <!-- <span> {{card.exp_month | parseDate | date: 'MMMM' | limitTo:3}} {{card.exp_year | parseDate | date: 'yyyy'}}</span> -->
                              <span ng-if="card.exp_month==1">January</span>
                              <span ng-if="card.exp_month==2">February</span>
                              <span ng-if="card.exp_month==3">March</span>
                              <span ng-if="card.exp_month==4">April</span>
                              <span ng-if="card.exp_month==5">May</span>
                              <span ng-if="card.exp_month==6">June</span>
                              <span ng-if="card.exp_month==7">July</span>
                              <span ng-if="card.exp_month==8">August</span>
                              <span ng-if="card.exp_month==9">September</span>
                              <span ng-if="card.exp_month==10">October</span>
                              <span ng-if="card.exp_month==11">November</span>
                              <span ng-if="card.exp_month==12">December</span>
                              <span>&nbsp;{{card.exp_year}}</span>
                            </div>
                            <div class="prodCost" layout="column" layout-align="center end">
                              <span class="default" ng-if="card.rowId===0">Default</span>
                              <md-button class="md-raised make-default" ng-if="card.rowId != 0" ng-click="defaultPayment('1',card)" layout-align="center center"> Make Default</md-button>
                            </div>
                            <md-button class="md-warn md-icon-button" ng-click="removeCard()" layout-align="center center" style="margin-right: -10px"><md-icon md-font-icon="icon-close-circle"></md-icon><md-tooltip>Remove card</md-tooltip></md-button>
                          </div>
                        </div>
                      </div>
                      <div layout="row" layout-align="end center">
                        <md-button class="m-0 fs-12 md-accent" layout="row" ng-click="getTenantPaymentHistory()">
                          <md-progress-circular ng-show="isTenantPaymentHistoryClicked" class="inbtn-loader md-accent"></md-progress-circular>
                          Show payment history <md-icon md-font-icon="icon-chevron-down"></md-icon>
                        </md-button>
                      </div>
                      <!--<div layout="row" layout-align="start center" class="info-grid-row">-->
                      <!--<div class="iconed-label" layout="row" layout-align="start center" flex="30">-->
                      <!--<md-icon md-font-icon="icon-email"></md-icon> <span flex>Rate</span>-->
                      <!--</div>-->
                      <!--<div>{{currentPlanRate}}</div>-->
                      <!--</div>-->
                      <!--<div layout="row" layout-align="start center" class="info-grid-row">-->
                      <!--<div class="iconed-label" layout="row" layout-align="start center" flex="30">-->
                      <!--<md-icon md-font-icon="icon-map"></md-icon> <span flex>Days remaining</span>-->
                      <!--</div>-->
                      <!--<div>{{selectedPlan.name}}</div>-->
                      <!--</div>-->
                    </div>
                    <!--<div flex="5"></div>-->
                    <!--<md-divider></md-divider>-->
                    <!--<div class="subscription-usage" layout="column" layout-align="center center" flex ng-if="selectedPlan.price > 0">-->
                    <!--<rzslider rz-slider-model="subUsage.value" rz-slider-options="subUsage.options"></rzslider>-->
                    <!--<span>Usage</span>-->
                    <!--</div>-->
                    <div class="usage-meter" layout="column" layout-align="center center" flex>
                      <span class="fw-500 fs-16 op-5">Usage</span>
                      <nvd3 options="vm.usageChart.chart.options"
                            data="vm.usageChart.chart.data">
                      </nvd3>
                      <span class="label-large fs-18 font-accent fw-500" style="top: -30px;position:relative;">{{currentPlanUsed}}</span>
                    </div>
                  </div>
                  <div layout="row" layout-align="center center" flex class="mt-10 animate-fade-in-out" ng-if="paymentHistory">
                    <div flex class="list-offset" md-whiteframe="1dp">
                      <div class="list-header" layout="row" flex md-whiteframe="1dp">
                        <div flex="30" layout-align="start center">Plan</div>
                        <div flex layout-align="start center">Period</div>
                        <div flex class="text-right" layout-align="end center" layout="row"><span>Amount</span></div>
                        <div flex="20"></div>
                        <div flex="10" layout="row" layout-align="start center">Status</div>
                      </div>
                      <md-card-content class="p-0" flex>
                        <md-content class="sub-list list-content" ms-scroll>
                          <div layout="row" layout-align="center center" class="msg-empty-list" ng-if="paymentHistoryList.length == 0 || paymentHistoryList == null">
                            <span><md-icon md-font-icon="icon-information-outline"></md-icon> No record has been created yet</span>
                          </div>
                          <div layout="row" flex class="list-item" ng-repeat="history in paymentHistoryList" ng-hide="isTenantPaymentHistoryClicked">

                            <div flex="30" layout="row" layout-align="start center">
                              <span>{{history.infomation.feature}}</span>
                            </div>
                            <div flex layout="row" layout-align="start center">
                              <span> {{history.receivedDate | date:'yyyy.MM.dd'}} -</span><span>- {{history.lastDate | date:'yyyy.MM.dd'}}</span>
                            </div>
                            <div flex layout="row" layout-align="end center">
                              <span>${{history.amount}}</span>
                            </div>
                            <div flex="20"></div>
                            <div flex="10" layout="row" layout-align="start center">
                              <span flex>{{history.status }}</span>
                            </div>
                          </div>
                        </md-content>
                      </md-card-content>
                    </div>
                  </div>
                  <div layout="row" flex class="mt-20">
                    <div class="commonContentShell solid-highlight-gray pb-10" flex>

                      <section id="successContainer" layout="column" layout-align="center center" >
                        <div layout="row">
                          <md-radio-group ng-model="selectedPlanDuration" ng-init="selectedPlanDuration = 'Monthly'" layout="row" style="margin: 20px 0;">
                            <md-radio-button value="Monthly">Monthly</md-radio-button>
                            <md-radio-button value="Yearly">Yearly</md-radio-button>
                          </md-radio-group>
                        </div>
                        <div layout="row" style="width: 100%;">
                          <div ng-hide="isPlanSelected" layout="row" layout-align="center center" flex>
                            <md-card ng-repeat="plan in companyPricePlans" flex class="subscription-plan" ng-if="plan.type == selectedPlanDuration || plan.code == 'free_trial'" ng-class="{'md-whiteframe-10dp':plan.code == selectedPlan.code}">
                              <!--<div class="selected-plan-ico" ng-if="plan.code == selectedPlan.code"></div>-->

                              <md-card-title flex layout="row" layout-align="center center" ng-class="{'solid-washer-blue': plan.code == selectedPlan.code}">
                                <h3 ng-class="{'f-white':plan.code == selectedPlan.code}">{{plan.name}}</h3>
                              </md-card-title>

                              <md-card-content flex class="p-0" layout="column">
                                <div class="rate-container" layout="column" layout-align="center center">
                                  <div layout="row" ng-if="plan.planNo === 1" layout-align="center end"><span>$0</span> <span> / Monthly</span></div>
                                  <div layout="row" ng-if="plan.planNo > 1" layout-align="center end"><span>${{plan.changingPrice}} </span> <span> / {{plan.type}}</span></div>
                                </div>
                                <div ng-if="plan.planNo > 1" class="feature-wrap">
                                  <div class="feature-container" layout="column" layout-align="center center">
                                    <div layout="row" layout-align="center center">
                                      <div><span>{{plan.activeSubscriptions}}</span><span> Active Subscriptions</span></div>
                                    </div>
                                    <div layout="row" layout-align="center center">
                                      <div><span>${{plan.subscriptionRate}}</span><span> per Additional Subscription</span></div>
                                    </div>
                                  </div>

                                  <!--<div class="slider">-->
                                  <!--<rzslider id="cont{{plan.code}}" rz-slider-model="plan.sliderValue" ng-click="changeSubscription(plan)" rz-slider-options="plan.starterSlider.options"></rzslider>-->
                                  <!--</div>-->
                                  <div class="slider" ng-if="$index>0">
                                    <rzslider rz-slider-model="sliders[$index].sliderValue" rz-slider-options="sliders[$index].options" class="m-0"></rzslider>
                                  </div>
                                </div>
                                <div ng-if="plan.planNo === 1" layout="column" layout-align="center center" class="feature-wrap" style="height: 130px">
                                  <div class="feature-container" layout="column" layout-align="center center">
                                    <div layout="row" layout-align="center center">
                                      <div><span>1000</span><span> Active Subscriptions</span></div>
                                    </div>
                                    <div layout="row" layout-align="center center">
                                      <div><span>$2</span><span> per Additional Subscription</span></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="text-center h-130" flex layout="column" layout-align="center center">
                                  <div class="additional-feature">Additional feature</div>
                                  <div class="additional-feature">Additional feature</div>
                                  <div class="additional-feature">Additional feature</div>
                                </div>
                              </md-card-content>

                              <md-card-footer layout="row" layout-align="center center" flex>
                                <md-button class="md-raised md-accent" ng-disabled="plan.planNo === 1 || isPlanSelected" ng-if="selectedPlan.price < 1 " stripe-payment="config" ishara="{{plan.changingPrice}}" ng-click="selectPlan(plan)">Select</md-button>
                                <md-button class="md-raised md-accent" ng-disabled="plan.planNo === 1 || isPlanSelected" ng-if="selectedPlan.price > 0 " ng-click="selectPlan(plan)">Select</md-button>
                              </md-card-footer>
                            </md-card>

                          </div>
                        </div>

                      </section>
                      <md-card-actions layout="row" layout-align="end end" flex ng-show="isPlanSelected">
                        <md-button ng-click="clickCancel()">Cancel</md-button>
                      </md-card-actions>
                    </div>

                  </div>
                </div>
              </md-card-content>
              <!--<md-card-actions>-->
              <!--<div layout="row" class="plan_footer" layout-align="space-between center">-->
              <!--<div layout="row" layout-align="start center" class="detail-row">-->
              <!--<span flex style="width: auto"><b>Number of additional users</b></span>-->
              <!--<span>: {{userdata}}</span>-->
              <!--</div>-->
              <!--<md-button class="md-icon-button md-accent" ng-disabled="selectedPlan.price < 1 " ng-click="addMoreUsersDialog($event)"><md-icon md-font-icon="icon-plus-circle"></md-icon> </md-button>-->
              <!--</div>-->
              <!--</md-card-actions>-->
            </md-card>
          </div>

          <!--<div layout="column" ng-if="paymentHistory">-->
            <!--<md-card flex class="input-block-gen eq-margin" layout="column">-->
              <!--<md-card-title layout="row" layout-align="space-between center">-->
                <!--<div layout="row" layout-align="start center">-->
                  <!--<md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Payment history</h3>-->
                <!--</div>-->
                <!--<md-button class="md-icon-button" ng-click="getTenantPaymentHistory()"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Refresh list</md-tooltip></md-button>-->
              <!--</md-card-title>-->
              <!--<div class="list-header" layout="row">-->
                <!--<div flex="20" layout-align="start center">Plan</div>-->
                <!--<div flex layout-align="start center">Period</div>-->
                <!--<div flex class="text-right" layout-align="end center" layout="row"><span>Amount</span></div>-->
                <!--<div flex="20"></div>-->
                <!--<div flex="10" layout="row" layout-align="start center">Status</div>-->
              <!--</div>-->
              <!--<md-card-content md-whiteframe="1dp" class="p-0" flex>-->
                <!--<md-content class="sub-list list-content" ms-scroll>-->
                  <!--<div layout="row" layout-align="center center" class="msg-empty-list" ng-if="paymentHistoryList.length == 0 || paymentHistoryList == null">-->
                    <!--<span><md-icon md-font-icon="icon-information-outline"></md-icon> No record has been created yet</span>-->
                  <!--</div>-->
                  <!--<div layout="row" flex class="list-item" ng-repeat="history in paymentHistoryList" ng-hide="isTenantPaymentHistoryClicked">-->

                    <!--<div flex="20" layout="row" layout-align="start center">-->
                      <!--<span>{{history.infomation.feature}}</span>-->
                    <!--</div>-->
                    <!--<div flex layout="row" layout-align="start center">-->
                      <!--<span> {{history.receivedDate | date:'yyyy.MM.dd'}} -</span><span>- {{history.lastDate | date:'yyyy.MM.dd'}}</span>-->
                    <!--</div>-->
                    <!--<div flex layout="row" layout-align="end center">-->
                      <!--<span>${{history.amount}}</span>-->
                    <!--</div>-->
                    <!--<div flex="20"></div>-->
                    <!--<div flex="10" layout="row" layout-align="start center">-->
                      <!--<span flex>{{history.status }}</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</md-content>-->
              <!--</md-card-content>-->
            <!--</md-card>-->
          <!--</div>-->

          <div layout="column" ng-if="onlinePayments">
            <md-content class="md-padding" layout="row" flex>
              <md-card flex="30" class="payment-card">
                <div layout="row" layout-align="center center">
                  <md-input-container style="margin: 0;">
                    <div class="online_stripe" ng-class="{'online_disabled': !isRegisteredWithStripe}"></div>
                  </md-input-container>

                  <div flex></div>

                  <md-input-container style="margin: 0;">
                    <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openRegistrationMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="4" ng-disabled="isRegButtonsShow">
                        <md-menu-item>
                          <md-button ng-disabled="isRegisteredWithStripe" ng-click="proceedWithStripe()">
                            <md-icon md-font-icon="icon-login" md-menu-align-target></md-icon>
                            Register
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-disabled="!isRegisteredWithStripe" ng-click="disconnectWithStripe()">
                            <md-icon md-font-icon="icon-logout"></md-icon>
                            Leave
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-input-container>
                </div>
              </md-card>
              <!--2Checkout section -->
              <md-card flex="30" class="payment-card">
                <div layout="row" layout-align="center center">
                  <md-input-container style="margin: 0;">
                    <div class="online_2checkout" ng-class="{'online_disabled': !isRegisteredWith2checkout}"></div>
                  </md-input-container>
                  <div flex></div>

                  <md-input-container style="margin: 0;">
                    <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openRegistrationMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="4" ng-disabled="isRegButtonsShow">
                        <md-menu-item>
                          <md-button ng-disabled="isRegisteredWith2checkout" ng-click="registerWithTwoCheckout($event)">
                            <md-icon md-font-icon="icon-login" md-menu-align-target></md-icon>
                            Register
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-disabled="!isRegisteredWith2checkout" ng-click="deleteWithTwoCheckout()">
                            <md-icon md-font-icon="icon-logout"></md-icon>
                            Leave
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-input-container>
                </div>
              </md-card>
            </md-content>
          </div>

          <div layout="column" ng-if="apiDetails">
            <md-card flex class="input-block-gen">
              <md-card-title layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-cloud"></md-icon> <h3>API management</h3>
                </div>
              </md-card-title>
              <md-card-content md-whiteframe="1dp">
                <md-button class="md-accent" href="https://cloudcharge.portal.azure-api.net" target="_blank"><md-icon md-font-icon="icon-link-variant"></md-icon> API Manager</md-button>
              </md-card-content>
            </md-card>
            <form name="vm.devPasswordForm" id="devPasswordForm" ng-submit="saveDevPassword()" novalidate>
              <md-card flex class="input-block-gen">
                <md-card-title layout="row" layout-align="space-between center">
                  <div layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-lock"></md-icon> <h3>API password</h3>
                  </div>
                </md-card-title>
                <md-card-content>
                  <div layout="row" layout-align="start center" class="group-sub-head" style="margin-top: 0">
                    <span flex="30"><b>Set password</b></span>
                  </div>
                  <div layout="row" layout-align="start center">
                    <md-input-container flex="30">
                      <label>New password</label>
                      <input type="password" ng-model="dev.newPassword" name="new_password" ng-pattern="dev.cnfirmNewPassword" required/>
                      <div ng-messages="vm.devPasswordForm.new_password.$error">
                        <div ng-message="required"></div>
                        <div ng-message="pattern">Passwords do not match</div>
                      </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="30">
                      <label>Confirm password</label>
                      <input type="password" ng-model="dev.cnfirmNewPassword" name="confirm_password" ng-pattern="dev.newPassword" required/>
                      <div ng-messages="vm.devPasswordForm.confirm_password.$error">
                        <div ng-message="required"></div>
                        <div ng-message="pattern">Passwords do not match</div>
                      </div>
                    </md-input-container>
                  </div>
                </md-card-content>
                <md-card-actions>
                  <div layout="row" layout-align="end center" class="plan_footer">
                    <md-button class="md-primary" ng-click="clearPasswordFields()">Clear</md-button>
                    <md-button type="submit" class="md-warn md-raised" ng-disabled="isChangePasswordSelected" ng-click="changePassword()">Save</md-button>
                  </div>
                </md-card-actions>
              </md-card>
            </form>
          </div>


        </md-content>
        <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar" ng-show="generalDetails && vm.editableMode">
          <md-button ng-click="clearFields()">Clear</md-button>
          <md-button type="submit" form="myAcc" class="md-raised md-warn">Save</md-button>
        </div>
        <!--<div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar" ng-show="passwordSettings">-->
          <!--<md-button ng-click="clearPasswordFields()" ng-disabled="!isEditablePassword">Clear</md-button>-->
          <!--<md-button type="submit" form="passwordSettings" class="md-raised md-warn" ng-disabled="!isEditablePassword">Save</md-button>-->
        <!--</div>-->

      </div>
      <!-- / CONTENT WRAPPER -->

    </div>


  </div>
  <!-- / CENTER -->

</div>




