<meta name="owner" content="Ishara">
<meta name="modifiedBy" content="Kasun">
<meta name="modifiedDate" content="24-02-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="account">
<meta name="view" content="account.html">

<div id="account" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDENAV -->
  <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
              ng-include="'app/main/account/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
  </md-sidenav>
  <!-- / SIDENAV -->

  <!-- CENTER -->
  <div ng-switch-when="default" class="center" layout="row" flex>
    <!-- CONTENT HEADER -->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>

      <!-- CONTENT TOOLBAR -->
      <!--<div md-whiteframe="2dp" class="toolbar list-header" style="border-bottom: none;z-index: 9999;" layout="row" layout-align="space-between center" ng-if="generalDetails">-->
          <!--<div class="cust-name" layout="row" layout-align="start center" flex>-->
              <!--<span>{{vm.dummy.Data.givenName}} {{vm.dummy.Data.sureName}}</span>-->
          <!--</div>-->
      <!--</div>-->
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT WRAPPER -->
      <div class="content-wrapper" layout="row" flex>

        <md-content flex class="md-padding" style="padding: 10px" ms-scroll>

          <div layout="column" ng-if="generalDetails">
            <div layout="column" flex>
              <div class="info-portion" ng-if="!vm.editableMode">
                <md-card flex class="input-block-gen">
                  <md-card-title>
                    <div layout="row" layout-align="start center">
                      <md-icon md-font-icon="icon-account"></md-icon> <h3>User information</h3>
                    </div>
                  </md-card-title>
                  <md-card-content md-whiteframe="1dp">
                    <div layout="column">
                      <div class="cust-name" layout="row" layout-align="start center" flex>
                        <span>{{vm.dummy.Data.givenName}} {{vm.dummy.Data.surName}}</span>
                      </div>
                      <div layout="row">
                        <md-input-container class="md-block md-default-theme user-info-block" flex layout="row">
                          <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-account-location" class="user-info-ico"></md-icon> <span flex class="info-head">User type</span>
                          </div>
                          <div layout="row" class="user-info-body">
                            {{vm.dummy.Data.UserType}}
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block md-default-theme user-info-block" flex layout="row">
                          <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-email" class="user-info-ico"></md-icon> <span flex class="info-head">Email</span>
                          </div>
                          <div layout="row" class="user-info-body">
                            {{vm.dummy.Data.email}}
                          </div>
                        </md-input-container>
                      </div>
                      <div layout="row">
                        <md-input-container class="md-block md-default-theme user-info-block" flex layout="row">
                          <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-map" class="user-info-ico"></md-icon> <span flex class="info-head">Current plan</span>
                          </div>
                          <div layout="row" class="user-info-body">
                            {{vm.dummy.Data.plan}}
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block md-default-theme user-info-block" flex layout="row">
                          <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-domain" class="user-info-ico"></md-icon> <span flex class="info-head">Domain</span>
                          </div>
                          <div layout="row" class="user-info-body">
                            {{vm.dummy.Data.domain}}
                          </div>
                        </md-input-container>
                      </div>
                      <div layout="row">
                        <md-input-container class="md-block md-default-theme user-info-block" flex layout="row">
                          <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-google-maps" class="user-info-ico"></md-icon> <span flex class="info-head">Country</span>
                          </div>
                          <div layout="row" class="user-info-body">
                            {{vm.dummy.Data.country}}
                          </div>
                        </md-input-container>
                      </div>
                    </div>
                    <div><div layout="row" layout-align="end center">
                      <md-button class="md-accent" href="https://login.microsoftonline.com/ccactiveb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_ccPasswordReset&client_Id=d084a227-bb52-4992-889d-6e4835610e76&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fcloudcharge.com%2Fazuresignup%2FccAzure.php%2FreLogin&scope=openid&response_type=id_token&prompt=login"><md-icon md-font-icon="icon-refresh"></md-icon> Reset password</md-button>
                    </div></div>
                  </md-card-content>
                </md-card>

                <md-card flex class="input-block-gen">
                  <md-card-title>
                    <div layout="row" layout-align="start center">
                      <md-icon md-font-icon="icon-key"></md-icon> <h3>Access keys</h3>
                    </div>
                  </md-card-title>
                  <md-card-content md-whiteframe="1dp">
                    <div layout="column" class="inpage-readpane">

                      <div flex class="inpage-readpane-body">
                        <div layout="row" layout-align="space-between center" class="detail-row" ng-repeat="key in access_keys">
                          <div flex>
                            <div layout="row" layout-align="start center" class="group-sub-head" style="margin-top: 0">
                              <span flex="30"><b>{{key.name}}</b></span>
                            </div>
                            <div layout="row" layout-align="space-between center" class="add-item-row">
                              <span class="access-key" id="{{key.key}}" flex>{{xfiedKey | limitTo: key.key.length}}</span>
                              <div layout="row">
                                <div class="keyDisplay{{key.key}}">
                                  <md-button id="show" class="md-icon-button md-accent" ng-click="showAccessKey(key, $index)"><md-icon md-font-icon="icon-eye" class="copy-icon"></md-icon><md-tooltip>Show Key</md-tooltip> </md-button>
                                  <md-button id="hide" class="md-icon-button md-accent" ng-click="hideAccessKey(key, $index)"><md-icon md-font-icon="icon-eye-off" class="copy-icon"></md-icon><md-tooltip>Hide Key</md-tooltip> </md-button>
                                </div>

                                <md-button class="md-icon-button md-accent" ng-click="copyToClipboard(key.key)"><md-icon md-font-icon="icon-content-copy" class="copy-icon" style="font-size: 18px"></md-icon><md-tooltip>Copy key</md-tooltip> </md-button>
                                <md-button class="md-icon-button md-accent" ng-disabled="isKeyResetting" ng-click="resetKey(key.key, key.name)"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Reset key</md-tooltip> </md-button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="paste"></div>
                    </div>
                  </md-card-content>
                </md-card>

              </div>

              <div layout="column" ng-if="vm.editableMode" style="padding-bottom: 40px">
                <md-content style="background-color: transparent">
                  <form name="vm.myaccForm" id="myAcc" ng-submit="saveProfileDetails(false)" novalidate>
                    <md-card flex class="input-block-gen">
                      <md-card-title>
                        <div layout="row" layout-align="start center">
                          <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
                        </div>
                      </md-card-title>
                      <md-card-content md-whiteframe="1dp">
                        <div layout="row" layout-align="start center">
                          <md-input-container class="acc-input-container" flex="30">
                            <label>First name</label>
                            <input type="text" ng-model="vm.dummy.Data.givenName" ng-maxlength="20" name="first_name" required>
                            <div ng-messages="vm.myaccForm.first_name.$error">
                              <div ng-message="required"></div>
                              <div ng-message="maxlength">First name must be between 1-20 characters</div>
                            </div>
                          </md-input-container>
                          <div flex="5"></div>
                          <md-input-container class="acc-input-container" flex="30">
                            <label>Sure name</label>
                            <input type="text" ng-model="vm.dummy.Data.sureName" ng-maxlength="30" name="sure_name" required>
                            <div ng-messages="vm.myaccForm.sure_name.$error">
                              <div ng-message="required"></div>
                              <div ng-message="maxlength">Sure name must be between 1-30 characters</div>
                            </div>
                          </md-input-container>
                          <div flex="5"></div>
                          <md-input-container class="acc-input-container" flex="30">
                            <label>Country</label>
                            <input type="text" ng-model="vm.dummy.Data.country" name="country" ng-maxlength="30">
                            <div ng-messages="vm.myaccForm.country.$error">
                              <div ng-message="maxlength">Country must be between 1-30 characters</div>
                            </div>
                          </md-input-container>
                        </div>
                      </md-card-content>
                    </md-card>
                  </form>
                </md-content>
              </div>

            </div>
          </div>

          <div layout="column" ng-if="planDetails">
            <md-card flex class="input-block-gen">
              <md-card-title>
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-map"></md-icon> <h3>Current plan</h3>
                </div>
              </md-card-title>
              <md-card-content md-whiteframe="1dp">
                <div>
                  <div layout="row" class="plan_footer">
                    <div flex class="heading-lev2" layout="column" layout-align="center start">
                      <span>{{selectedPlan.name}}
                        <md-button class="md-icon-button show-plan" ng-click="showCurrPlan()">
                          <md-icon md-font-icon="icon-information"></md-icon>
                        </md-button>
                      </span>
                      <!--<div class="sub-info">-->
                        <!--<div ng-show="selectedPlan.id === 'free_trial'" >Days remaining : <b>{{remainingDays}}</b></div>-->
                        <!--<div ng-show="selectedPlan.id === 'free_trial'">Plan expires on : <b>{{displayExpireDate}}</b></div>-->
                        <!--<div ng-show="selectedPlan.no > 2 && isTempDeactive">Plan renewal date : <b>{{displayExpireDate}}</b></div>-->
                        <!--<div ng-show="selectedPlan.no > 2 && !isTempDeactive">Subscription ending date : <b>{{displayExpireDate}}</b></div>-->
                      <!--</div>-->
                    </div>

                    <div flex="30" layout-align="end center" layout="row">
                      <md-button class="md-warn md-raised" ng-show="selectedPlan.no > 2 && isTempDeactive " ng-click="deactiveCurrentPlan()" style="max-width: 108px;" flex>Deactivate</md-button>
                      <md-button ng-disabled="" class="md-raised md-accent" ng-click="signupsuccess=true" ng-hide="signupsuccess" flex style="max-width: 108px;" flex>Upgrade</md-button>
                    </div>
                  </div>
                  <div layout="row" ng-if="signupsuccess" flex>
                    <md-card class="commonContentShell" flex style="position:relative;background: rgba(0, 0, 0, 0.1);" md-whiteframe="1dp">
                      <div class="yearly-discount-bar" md-whiteframe="3dp">
                        <div>Enjoy discounted prices through Yearly plans</div>
                        <md-icon md-font-icon="icon-tag-outline"></md-icon>
                      </div>
                      <div layout="row" layout-align="start center">
                        <md-radio-group ng-model="planDuration" ng-change="setPlanDuration(planDuration)" layout="row" lauout-align="center start">
                          <md-radio-button value="Monthly">Monthly</md-radio-button>
                          <md-radio-button value="Yearly">Yearly</md-radio-button>
                          <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!">Top</a>-->
                        </md-radio-group>

                        <!--<span class="yearly-discount-tag"><md-icon md-font-icon="icon-tag-outline"></md-icon>Enjoy discounted price through Yearly plans</span>-->

                        <!--<md-switch ng-model="isYearly" aria-label="Switch" >-->
                        <!--<b ng-if="!isYearly">Monthly</b>  <b ng-if="isYearly">Yearly</b>-->
                        <!--</md-switch>-->
                      </div>
                      <section id="successContainer" layout="row" layout-align="center center" >
                        <div flex="20" ng-if="planDuration == 'Yearly'"></div>
                        <div ng-hide="isPlanSelected" layout-align="top start" flex>
                        <!--<div  layout-align="top start" flex>-->
                          <!-- Monthly-->
                          <div layout="row" layout-align="center center" ng-if="planDuration != 'Yearly'">
                            <md-card ng-repeat="plan in companyPricePlans" layout-align="center center" class="{{plan.id}} plan-card" ng-if="plan.no > 1 && plan.no < 5" flex ng-class="{'md-whiteframe-15dp':currentPlan == plan.no}" style="position:relative;">
                              <md-icon md-font-icon="icon-check" class="selected-plan-ico" md-whiteframe="2dp" ng-if="currentPlan == plan.no"></md-icon>
                              <md-card-title flex layout="column">
                                <md-card-title-text layout="column" layout-align="center center">
                                  <h3>{{plan.name}}</h3>
                                </md-card-title-text>
                              </md-card-title>
                              <div class="plan-name" layout="row" layout-align="center center" flex>
                                <div ng-if="plan.price == '0'">Free
                                  <span>{{plan.per}}</span>
                                </div>
                                <div ng-if="plan.price != '0'">$ {{plan.price }}
                                  <span >{{plan.per}}</span>
                                </div>
                              </div>

                              <md-card-content flex style="background: #ffffff;">
                                <!--<div layout="row" layout-align="space-between center" class="usernapps-wrap">-->
                                  <!--<p class="user-n-apps"><md-icon md-font-icon="icon-account-multiple" style="font-size: 20px"></md-icon> {{plan.numberOfUsers }} <span ng-if="plan.numberOfUsers == '1'">&nbspUser</span><span ng-if="plan.numberOfUsers != '1'">&nbspUsers</span></p>-->
                                  <!--<p class="user-n-apps"><md-icon md-font-icon="icon-file-multiple" style="font-size: 17px"></md-icon>{{plan.numberOfApps}} Apps</p>-->
                                <!--</div>-->

                                <!--<md-divider></md-divider>-->

                                <div layout="column" layout-align="center center" class="features-wrap">
                                  <!--<span class="features" ng-repeat="feature in plan.features">{{feature}}</span>-->
                                </div>

                                <div ng-init="showAdditional = false" layout-padding ng-show="showAdditional" style="color: rgb(103, 97, 97);">
                                  <b>Additional Storage:</b>
                                  <p>+ 25 GB/Month: 4.99</p>
                                  <p>+ 100 GB/Month: 9.99</p>
                                  <p>+ 1 TB/Month: 24.99</p>
                                </div>
                              </md-card-content>

                              <md-card-actions layout="row" layout-align="center center" flex>

                                <div ng-if="selectedPlan.no < plan.no && plan.price > 0">
                                  <md-button   class="md-raised {{plan.id}}" ng-if="selectedPlan.price === '0' && paymentStatus != 'canceled'" stripe-payment="config" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                  <md-button   class="md-raised {{plan.id}}" ng-if="selectedPlan.price != '0' || paymentStatus === 'canceled'" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                </div>
                                <div ng-if="selectedPlan.no >= plan.no || plan.price <= 0">
                                  <md-button ng-disabled="true"  class="md-raised {{plan.id}}" ng-if="selectedPlan.price === '0'" stripe-payment="config" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                  <md-button ng-disabled="true"  class="md-raised {{plan.id}}" ng-if="selectedPlan.price != '0'" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                </div>

                              </md-card-actions>
                            </md-card>
                          </div>

                          <!-- Yearly plans-->
                          <div layout="row" layout-align="center center" ng-if="planDuration == 'Yearly'">
                            <md-card ng-repeat="plan in companyPricePlans" layout-align="center center" class="{{plan.id}} plan-card" ng-if="plan.no > 4" flex style="min-width: 280px;position:relative;" ng-class="{'md-whiteframe-15dp':currentPlan == plan.no}">
                              <md-icon md-font-icon="icon-check" class="selected-plan-ico" md-whiteframe="2dp" ng-if="currentPlan == plan.no"></md-icon>
                              <md-card-title flex layout="column">
                                <md-card-title-text layout="column" layout-align="center center">
                                  <h3>{{plan.name}}</h3>
                                </md-card-title-text>
                              </md-card-title>

                              <div class="plan-name" layout="row" layout-align="center center" flex>
                                <div ng-if="plan.price == '0'">Free
                                  <span>{{plan.per}}</span>
                                </div>
                                <div ng-if="plan.price != '0'">$ {{plan.price }}
                                  <span >{{plan.per}}</span>
                                </div>
                              </div>

                              <md-card-content flex>
                                <!--<div layout="row" layout-align="space-between center" class="usernapps-wrap">-->
                                  <!--<p class="user-n-apps"><md-icon md-font-icon="icon-account-multiple" style="font-size: 20px"></md-icon>{{plan.numberOfUsers }} <span ng-if="plan.numberOfUsers == '1'">&nbspUser</span><span ng-if="plan.numberOfUsers != '1'">&nbspUsers</span></p>-->
                                  <!--<p class="user-n-apps"><md-icon md-font-icon="icon-file-multiple" style="font-size: 17px"></md-icon>{{plan.numberOfApps}} Apps</p>-->
                                <!--</div>-->
                                <!--<md-divider></md-divider>-->

                                <div layout="column" layout-align="center center" class="features-wrap">
                                  <!--<span class="features" ng-repeat="feature in plan.features">{{feature}}</span>-->
                                </div>
                                <div ng-init="showAdditional = false" layout-padding ng-show="showAdditional" style="color: rgb(103, 97, 97);">
                                  <b>Additional Storage:</b>
                                  <p>+ 25 GB/Month: 4.99</p>
                                  <p>+ 100 GB/Month: 9.99</p>
                                  <p>+ 1 TB/Month: 24.99</p>
                                </div>

                              </md-card-content>

                              <md-card-actions layout="row" layout-align="center center" flex>

                                <div ng-if="selectedPlan.no < plan.no && plan.price > 0">
                                  <md-button  class="md-raised {{plan.id}}" ng-if="selectedPlan.price === '0' && paymentStatus != 'canceled'" stripe-payment="config" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                  <md-button  class="md-raised {{plan.id}}" ng-if="selectedPlan.price != '0' || paymentStatus === 'canceled'" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                </div>
                                <div ng-if="selectedPlan.no >= plan.no || plan.price <= 0">
                                  <md-button ng-disabled="true"  class="md-raised {{plan.id}}" ng-if="selectedPlan.price === '0'" stripe-payment="config" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                  <md-button ng-disabled="true"  class="md-raised {{plan.id}}" ng-if="selectedPlan.price != '0'" ng-click="selectPlan(plan)"> Select Plan</md-button>
                                </div>


                              </md-card-actions>
                            </md-card>
                          </div>
                        </div>
                        <div flex="20" ng-if="planDuration == 'Yearly'"></div>
                        <!--<div layout="row" layout-sm="column" layout-align="space-around" ng-show="isPlanSelected">-->
                          <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
                        <!--</div>-->
                      </section>
                      <md-card-actions layout="row" layout-align="end end" flex ng-show="isPlanSelected">
                        <md-button ng-click="clickCancel()">Cancel</md-button>
                      </md-card-actions>
                    </md-card>

                  </div>
                </div>
              </md-card-content>
              <md-card-actions>
                <div layout="row" class="plan_footer" layout-align="space-between center">
                  <div layout="row" layout-align="start center" class="detail-row">
                    <span flex style="width: auto"><b>Number of additional users</b></span>
                    <span>: {{userdata}}</span>
                  </div>
                  <md-button class="md-icon-button md-accent" ng-disabled="selectedPlan.price === '0'" ng-click="addMoreUsersDialog($event)"><md-icon md-font-icon="icon-plus-circle"></md-icon> </md-button>
                </div>
              </md-card-actions>
            </md-card>
            <md-card flex class="input-block-gen">
              <md-card-title>
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Payment method details</h3>
                </div>
                <!--<md-button ng-if="cardDetails.length > 0" class="md-accent" stripe-payment="config" ng-click="addNewCard()" layout-align="center center"> Add Card</md-button>-->
              </md-card-title>
              <div class="list-header" layout="row">
                <div flex layout-align="center start">Card ID</div>
                <div flex layout-align="center start">Expire Date</div>
                <div flex="20" layout-align="center center" style="text-align:center">Card Type</div>
                <div flex="15"></div>
              </div>
              <md-card-content md-whiteframe="1dp">
                <div>
                  <div layout="row" flex class="payment-details-row" ng-repeat="card in cardDetails">
                    <!--<div class="prodMainInfo" layout="column" layout-align="center start" flex="30">-->
                    <!--<div layout="column">-->
                    <!--<span class="text-truncate">Customer{{card.customer}}</span>-->
                    <!--<div class="code text-truncate">Card id : {{card.id}}</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="prodCost" flex layout="column" layout-align="center start">
                      <span class="text-truncate">XXXX-XXXX-XXXX-{{card.last4}}</span>
                    </div>
                    <div class="prodCost" flex layout="row" layout-align="start center">
                      <!-- <span> {{card.exp_month | parseDate | date: 'MMMM' | limitTo:3}} {{card.exp_year | parseDate | date: 'yyyy'}}</span> -->
                      <span ng-if="card.exp_month==1">January</span>
                      <span ng-if="card.exp_month==2">February</span>
                      <span ng-if="card.exp_month==3">March</span>
                      <span ng-if="card.exp_month==4">April</span>
                      <span ng-if="card.exp_month==5">May</span>
                      <span ng-if="card.exp_month==6">June</span>
                      <span ng-if="card.exp_month==7">July</span>
                      <span ng-if="card.exp_month==8">August</span>
                      <span ng-if="card.exp_month==9">September</span>
                      <span ng-if="card.exp_month==10">October</span>
                      <span ng-if="card.exp_month==11">November</span>
                      <span ng-if="card.exp_month==12">December</span>
                      <span>&nbsp;{{card.exp_year}}</span>
                    </div>
                    <div class="prodCost" flex="20" layout="column" layout-align="center center">
                      <span ng-class="card.brand"></span>
                    </div>
                    <div class="prodCost" flex="15" layout="column" layout-align="center end">
                      <span class="default" ng-if="card.rowId===0">Default</span>
                      <md-button class="md-raised make-default" ng-if="card.rowId != 0" ng-click="defaultPayment('1',card)" layout-align="center center"> Make Default</md-button>
                      <!--<md-button class="md-icon-button make-default" ng-if="isDefaultPayment!='1'" ng-click="defaultPayment('1')">-->
                      <!--<md-icon md-font-icon="icon-check" class="md-accent"></md-icon>-->
                      <!--<md-tooltip>Make This Default</md-tooltip>-->
                      <!--</md-button>-->
                    </div>
                  </div>
                </div>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent md-icon-button" stripe-payment="config" ng-click="addNewCard()" layout-align="center center"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add card</md-tooltip></md-button>
              </md-card-actions>
            </md-card>
          </div>

          <div layout="column" ng-if="paymentHistory">
            <md-card flex class="input-block-gen">
              <md-card-title layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Payment history</h3>
                </div>
                <md-button class="md-icon-button" ng-click="getTenantPaymentHistory()"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Refresh list</md-tooltip></md-button>
              </md-card-title>
              <div class="list-header" layout="row">
                <div flex="30" layout-align="center start">Type</div>
                <div flex class="text-right" layout-align="end center" layout="row"><span>Amount</span></div>
                <div flex="10"></div>
                <div flex layout-align="center start">Received Date</div>
                <div flex="10" layout="row" layout-align="end center">Status</div>
              </div>
              <md-card-content md-whiteframe="1dp" style="padding: 0">
                <div>
                  <div layout="row" flex class="payment-history-row" ng-repeat="history in paymentHistoryList" ng-hide="isTenantPaymentHistoryClicked">

                    <div class="prodCost" flex="30" layout="row" layout-align="start center">
                      <span class="text-truncate">{{history.type}}</span>
                    </div>
                    <div class="prodCost" flex layout="row" layout-align="end center">
                      <span class="text-truncate">${{history.amount}}</span>
                    </div>
                    <div flex="10"></div>
                    <div class="prodCost" flex layout="row" layout-align="start center">
                      <span> {{history.receivedDate | limitTo:10}}</span>
                    </div>
                    <div class="prodCost" flex="10" layout="row" layout-align="start center">
                      <span flex class="text-right"> {{history.status }}</span>
                    </div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>

          <div layout="column" ng-if="onlinePayments">
            <md-content class="md-padding" layout="row" flex>
              <md-card flex="30" class="payment-card">
                <div layout="row" layout-align="center center">
                  <md-input-container style="margin: 0;">
                    <div class="online_stripe" ng-class="{'online_disabled': !isRegisteredWithStripe}"></div>
                  </md-input-container>

                  <div flex></div>

                  <md-input-container style="margin: 0;">
                    <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openRegistrationMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="4" ng-disabled="isRegButtonsShow">
                        <md-menu-item>
                          <md-button ng-disabled="isRegisteredWithStripe" ng-click="proceedWithStripe()">
                            <md-icon md-font-icon="icon-login" md-menu-align-target></md-icon>
                            Register
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-disabled="!isRegisteredWithStripe" ng-click="disconnectWithStripe()">
                            <md-icon md-font-icon="icon-logout"></md-icon>
                            Leave
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-input-container>
                </div>
              </md-card>
              <!--2Checkout section -->
              <md-card flex="30" class="payment-card">
                <div layout="row" layout-align="center center">
                  <md-input-container style="margin: 0;">
                    <div class="online_2checkout" ng-class="{'online_disabled': !isRegisteredWith2checkout}"></div>
                  </md-input-container>
                  <div flex></div>

                  <md-input-container style="margin: 0;">
                    <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openRegistrationMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="4" ng-disabled="isRegButtonsShow">
                        <md-menu-item>
                          <md-button ng-disabled="isRegisteredWith2checkout" ng-click="registerWithTwoCheckout($event)">
                            <md-icon md-font-icon="icon-login" md-menu-align-target></md-icon>
                            Register
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-disabled="!isRegisteredWith2checkout" ng-click="deleteWithTwoCheckout()">
                            <md-icon md-font-icon="icon-logout"></md-icon>
                            Leave
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-input-container>
                </div>
              </md-card>
            </md-content>
          </div>

          <div layout="column" ng-if="apiDetails">
            <md-card flex class="input-block-gen">
              <md-card-title layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                  <md-icon md-font-icon="icon-cloud"></md-icon> <h3>API management</h3>
                </div>
              </md-card-title>
              <md-card-content md-whiteframe="1dp">
                <md-button class="md-accent" href="https://cloudcharge.portal.azure-api.net" target="_blank"><md-icon md-font-icon="icon-link-variant"></md-icon> API Manager</md-button>
              </md-card-content>
            </md-card>
            <form name="vm.devPasswordForm" id="devPasswordForm" ng-submit="saveDevPassword()" novalidate>
              <md-card flex class="input-block-gen">
                <md-card-title layout="row" layout-align="space-between center">
                  <div layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-lock"></md-icon> <h3>API password</h3>
                  </div>
                </md-card-title>
                <md-card-content md-whiteframe="1dp">
                  <div layout="row" layout-align="start center" class="group-sub-head" style="margin-top: 0">
                    <span flex="30"><b>Set password</b></span>
                  </div>
                  <div layout="row" layout-align="start center">
                    <md-input-container flex="30">
                      <label>New password</label>
                      <input type="password" ng-model="dev.newPassword" name="new_password" ng-pattern="dev.cnfirmNewPassword" required/>
                      <div ng-messages="vm.devPasswordForm.new_password.$error">
                        <div ng-message="required"></div>
                        <div ng-message="pattern">Passwords do not match</div>
                      </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="30">
                      <label>Confirm password</label>
                      <input type="password" ng-model="dev.cnfirmNewPassword" name="confirm_password" ng-pattern="dev.newPassword" required/>
                      <div ng-messages="vm.devPasswordForm.confirm_password.$error">
                        <div ng-message="required"></div>
                        <div ng-message="pattern">Passwords do not match</div>
                      </div>
                    </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions>
                  <div layout="row" layout-align="end center" class="plan_footer">
                    <md-button class="md-primary" ng-click="clearPasswordFields()">Clear</md-button>
                    <md-button type="submit" class="md-warn md-raised" ng-disabled="isChangePasswordSelected" ng-click="changePassword()">Save</md-button>
                  </div>
                </md-card-actions>
              </md-card>
            </form>
          </div>

          <!--<div layout="column" ng-if="passwordSettings">-->
            <!--<form id="passwordSettings" name="vm.passwordSettings" ng-submit="changePassword()" ng-disabled="isChangePasswordSelected">-->
              <!--<md-card flex class="input-block-gen">-->
                <!--<md-card-title>-->
                  <!--<div layout="row" layout-align="start center">-->
                    <!--<md-icon md-font-icon="icon-lock"></md-icon> <h3>Password settings</h3>-->
                  <!--</div>-->
                <!--</md-card-title>-->
                <!--<md-card-content md-whiteframe="1dp">-->
                  <!--<div layout="row" layout-align="start center" class="group-sub-head" style="margin-top: 0;margin-bottom: 10px">-->
                    <!--<span flex="30"><b>Change password</b></span>-->
                  <!--</div>-->
                  <!--<div layout="row" layout-align="start center">-->
                    <!--<md-input-container class="acc-input-container" flex="30">-->
                      <!--<label>Current password</label>-->
                      <!--<input type="password" ng-model="user.currentPassword" name="password_curr" ng-disabled="!isEditablePassword" required/>-->
                      <!--<div ng-messages="vm.passwordSettings.password_curr.$error">-->
                        <!--<div ng-message="required"></div>-->
                      <!--</div>-->
                    <!--</md-input-container>-->
                    <!--<div flex="5"></div>-->
                    <!--<md-input-container class="acc-input-container" flex="30">-->
                      <!--<label>New password</label>-->
                      <!--<input type="password" ng-model="user.newPassword" ng-pattern="user.confirmNewPassword" minlength="8" maxlength="16" name="password_new" ng-disabled="!isEditablePassword"/>-->
                      <!--<div ng-messages="vm.passwordSettings.password_new.$error">-->
                        <!--<div ng-message="required"></div>-->
                        <!--<div ng-message="minlength">Password must be between 8-16 characters</div>-->
                        <!--<div ng-message="maxlength">Password must be between 8-16 characters</div>-->
                        <!--<div ng-message="pattern">Passwords are not matching</div>-->
                      <!--</div>-->
                    <!--</md-input-container>-->
                    <!--<div flex="5"></div>-->
                    <!--<md-input-container class="acc-input-container" flex="30">-->
                      <!--<label>Confirm new password</label>-->
                      <!--<input type="password" ng-model="user.confirmNewPassword" name="confirmPassword" ng-pattern="user.newPassword"   minlength="8" maxlength="16" ng-disabled="!isEditablePassword"/>-->
                      <!--<div ng-messages="vm.passwordSettings.confirmPassword.$error">-->
                        <!--<div ng-message="required"></div>-->
                        <!--<div ng-message="minlength">Password must be between 8-16 characters</div>-->
                        <!--<div ng-message="maxlength">Password must be between 8-16 characters</div>-->
                        <!--<div ng-message="pattern">Passwords are not matching</div>-->
                      <!--</div>-->
                    <!--</md-input-container>-->
                  <!--</div>-->
                <!--</md-card-content>-->
              <!--</md-card>-->
            <!--</form>-->
          <!--</div>-->

        </md-content>
        <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar" ng-show="generalDetails && vm.editableMode" flex>
          <md-button ng-click="clearFields()">Clear</md-button>
          <md-button type="submit" form="myAcc" class="md-raised md-warn">Save</md-button>
        </div>
        <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar" ng-show="passwordSettings" flex>
          <md-button ng-click="clearPasswordFields()" ng-disabled="!isEditablePassword">Clear</md-button>
          <md-button type="submit" form="passwordSettings" class="md-raised md-warn" ng-disabled="!isEditablePassword">Save</md-button>
        </div>

      </div>
      <!-- / CONTENT WRAPPER -->

    </div>


  </div>
  <!-- / CENTER -->

</div>




