<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="center center">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <img src="app/core/app_icons/account_app_icon.png" alt=""/>
        </span>
        <span class="logo-text">My account</span>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

    <div class="compose-button">
        <md-button class="md-accent md-raised" aria-label="compose"
                   ng-click="saveProfileDetails(true)" ng-if="generalDetails && !vm.editableMode">Edit profile
        </md-button>
        <md-button class="md-accent md-raised" aria-label="compose"
                   ng-click="cancelEdit()" ng-if="generalDetails && vm.editableMode">View profile
        </md-button>
    </div>

    <div class="navigation-simple" layout="column" ng-if="!vm.editableMode">
      <md-button class="item" ng-class="{'selected': generalDetails}" aria-label="starred" ng-click="switchInpageState('general-details')">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-account" class="s16"></md-icon>
          <span class="title" flex>General details</span>
        </div>
      </md-button>
      <md-button class="item" ng-class="{'selected': planDetails}" aria-label="starred" ng-click="switchInpageState('plan-details')">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-map" class="s16"></md-icon>
          <span class="title" flex>Plan details</span>
        </div>
      </md-button>
      <md-button class="item" ng-class="{'selected': paymentHistory}" aria-label="starred" ng-click="switchInpageState('payment-history')">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-credit-card-multiple" class="s16"></md-icon>
          <span class="title" flex>Payment history</span>
        </div>
      </md-button>
      <md-button class="item" ng-class="{'selected': onlinePayments}" aria-label="starred" ng-click="switchInpageState('online-payments')">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-credit-card" class="s16"></md-icon>
          <span class="title" flex>Online payments</span>
        </div>
      </md-button>
      <md-button class="item" ng-class="{'selected': apiDetails}" aria-label="starred" ng-click="switchInpageState('api-details')">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-cloud-download" class="s16"></md-icon>
          <span class="title" flex>API details</span>
        </div>
      </md-button>
    </div>


</md-content>
<!-- / SIDENAV CONTENT -->
